.HealthHeader {
    width: 100%;
    height: 90vh;
    background-color: #3E645E;
    display: grid;
    grid-template: 500px / 500px 500px;
}

.Health-content {
    width: 450px;
}

.Health-content {
    flex-direction: column;
    background-color: red;
}

.Header-img {
    width: 200px;
}

